<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.schabi.newpipe">

    <application
        android:name=".DebugApp"
        android:label="NewPipe Debug"
        tools:replace="android:name, android:label">
        <activity
            android:name=".MainActivity"
            android:label="NewPipe Debug"
            tools:replace="android:label"/>

        <!-- Android Auto -->

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service
            android:name=".NewPipeAndroidAutoActivityService"
            android:exported="true"
            android:label="Hello Android Auto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.gms.car.category.CATEGORY_PROJECTION" />
                <category android:name="com.google.android.gms.car.category.CATEGORY_PROJECTION_OEM" />
            </intent-filter>
        </service>
    </application>

</manifest>